
<div class="container">

	<div class="block-header">
		<h2>Edytujesz artykul</h2>
	</div>
	<div class="row">
		<div class="col-lg-6">
			<div class="card">
				<div class="card-body card-padding">
					<form role="form" name="news"
						ng-submit="newsCtrl.createOrUpdateNews()">

						<dl class="dl-horizontal">
							<dt class="p-t-10">Kategoria</dt>
							<dd>
								<div class="fg-line">
									<select data-ng-model="newsCtrl.news.category" type="text"
										class="form-control">
										<option class="bgm-">home</option>
										<option class="bgm-">items</option>
										<option class="bgm-">itemdetails</option>
										<option class="bgm-">boms</option>
										<option class="bgm-">bomdetails</option>
									</select>
								</div>
							</dd>
						</dl>
						<dl class="dl-horizontal">
							<dt class="p-t-10">Kolor tla</dt>
							<dd>
								<div class="fg-line">
									<select ng-class="newsCtrl.bgmClass"
										data-ng-model="newsCtrl.news.bgmColor" type="text"
										class="form-control">
										<option class="bgm-pink">bgm-pink</option>
										<option class="bgm-red">bgm-red</option>
										<option class="bgm-purple">bgm-purple</option>
										<option class="bgm-deeppurple">bgm-deeppurple</option>
										<option class="bgm-indigo">bgm-indigo</option>
										<option class="bgm-blue">bgm-blue</option>
										<option class="bgm-lightblue">bgm-lightblue</option>
										<option class="bgm-cyan">bgm-cyan</option>
										<option class="bgm-teal">bgm-teal</option>
										<option class="bgm-green">bgm-green</option>
										<option class="bgm-lightgreen">bgm-lightgreen</option>
										<option class="bgm-lime">bgm-lime</option>
										<option class="bgm-yellow">bgm-yellow</option>
										<option class="bgm-amber">bgm-amber</option>
										<option class="bgm-orange">bgm-orange</option>
										<option class="bgm-deeporange">bgm-deeporange</option>
										<option class="bgm-brown">bgm-brown</option>
										<option class="bgm-gray">bgm-gray</option>
										<option class="bgm-bluegray">bgm-bluegray</option>
										<option class="bgm-black">bgm-black</option>
									</select> <a class="btn btn-default pull-right"
										ng-click="newsCtrl.applyBgmColor()">Zastosuj</a>
								</div>
							</dd>
						</dl>
						<dl class="dl-horizontal">
							<dt class="p-t-10">Opublikowane</dt>
							<dd>
								<div class="fg-line toggle-switch m-t-10" data-ts-color="green">
									<input ng-model="newsCtrl.news.isPublished" id="isPublished"
										type="checkbox" hidden="hidden"> <label
										class="ts-helper" for="isPublished"></label>
								</div>
							</dd>
						</dl>

						<dl class="dl-horizontal">
							<dt class="p-t-10">Priorytet</dt>
							<dd>
								<div class="fg-line">
									<input data-ng-model="newsCtrl.news.priority" type="text"
										class="form-control" only-digits>
								</div>
							</dd>
						</dl>

						<dl class="dl-horizontal">
							<dt class="p-t-10">Tytul</dt>
							<dd>
								<div class="fg-line">
									<input data-ng-model="newsCtrl.news.title" type="text"
										class="form-control" required>
								</div>
							</dd>
						</dl>
						<br>

						<dl class="dl-horizontal">
							<div text-angular="text-angular" name="content"
								ng-model="newsCtrl.news.content" ta-disabled='disabled'></div>
						</dl>
						<div class="m-t-30">
							<div class="pull-right m-t-20"
								ng-class="{'has-error':uform.$invalid}">
								<button class="btn btn-primary waves-effect" type="submit">
									<i class="fa fa-save"></i>
									{{translator.label.edititembuttonsave}}
								</button>
							</div>
							<a ng-click="newsCtrl.unsetEditItemContext()"
								class="btn btn-default m-t-20 waves-effect"> <i
								class="fa fa-undo"></i>
								{{translator.label.edititembuttoncancel}}
							</a>
						</div>
					</form>

				</div>
			</div>
		</div>

		<div class="col-lg-6 col-xs-12" id="news">
			<div class="card">
				<div class="card">
					<div class="card-body card-padding bgm-black c-white">
						Podglad boxu ponizej</div>
				</div>
			</div>

			<div class="card " ng-if="newsCtrl.news.category === 'home'">
				<div class="card-header" ng-class="newsCtrl.bgmClass">
					<h2>
						{{ newsCtrl.news.title }} <small>Dodane: {{
							newsCtrl.news.dateCreated }}</small>
					</h2>

				</div>
				<div class="card-body card-padding" dynamic="newsCtrl.news.content"></div>
			</div>

			<div class="card" ng-if="newsCtrl.news.category === 'boms'">
				<div class="card">
					<div class="card-body card-padding z-depth-4"
						ng-class="newsCtrl.cClass">
						<div dynamic="newsCtrl.news.content"></div>
					</div>
				</div>
			</div>



			<div class="card ">
				<div class="card-header bgm-blue">
					<h2>HTML</h2>
				</div>
				<div class="card-body card-padding">{{ newsCtrl.news.content
					}}</div>
			</div>
		</div>

		<div class="col-lg-6" ng-if="false">
			<br> <br>news::
			<pre>{{ newsCtrl | json}}</pre>

		</div>
	</div>
</div>