<div class="row">&nbsp;</div>
<div class="row">
	<div class="col-md-12">
		<form role="form" class="form-horizontal"
			ng-submit="userCtrl.createOrUpdateUser(userCtrl.user)">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						<strong>
							<div ng-show="userCtrl.user.id > 0">
								{{translator.label.edituserheadingedituser}}</div>
							<div ng-show="userCtrl.user.id == 0">
								{{translator.label.edituserheadingadditem}}</div>
						</strong>
					</h3>
				</div>
				<div class="panel-body">
					<div class="form-group">
						<label path="username" class="col-md-3 col-xs-12 control-label">
							{{translator.label.edituserlabelname}} </label>
						<div class="col-md-8 col-xs-12">
							<div class="input-group">
								<span class="input-group-addon"><span
									class="fa fa-pencil"></span></span><input class="form-control"
									ng-model="userCtrl.user.username" type="email" />
							</div>
							<p class="help-block">{{translator.label.edituserhelpusername}}</p>
						</div>
					</div>
					<div class="form-group">
						<label path="password" class="col-md-3 col-xs-12 control-label">
							{{translator.label.edituserlabelpassword}} </label>
						<div class="col-md-8 col-xs-12">
							<div class="input-group">
								<span class="input-group-addon"><span
									class="fa fa-pencil"></span></span><input class="form-control"
									ng-model="userCtrl.user.password" type="password"
									autocomplete="new-password" />
							</div>
							<p class="help-block">{{translator.label.edituserhelppassword}}</p>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 col-xs-12 control-label">
							{{translator.label.edituserlabelenabled}} :
							{{userCtrl.user.enabled}}</label>
						<div class="col-md-8 col-xs-12">
							<label for="enabledTrue" class="radio-inline"> <input
								type="radio" ng-checked="userCtrl.user.enabledPreselected"
								ng-model="userCtrl.user.enabled" name="enabled" id="enabledTrue"
								value="true"> {{translator.label.booleanyes}}
							</label> <label class="radio-inline" for="enabledFalse"> <input
								type="radio" ng-checked="!userCtrl.user.enabledPreselected"
								ng-model="userCtrl.user.enabled" name="enabled"
								id="enabledFalse" value="false">{{translator.label.booleanno}}
							</label>
						</div>
					</div>
					<div class="form-group">
						<label for="roles" class="col-md-3 col-xs-12 control-label">{{translator.label.edituserlabelroles}}</label>
						<div class="col-md-8 col-xs-12">
							<label class="check" ng-repeat="role in userCtrl.user.allRoles"><input
								type="checkbox" checklist-model="userCtrl.user.rolesSelected"
								checklist-value="role"> &nbsp;{{role}}&nbsp;&nbsp; </label>
						</div>
					</div>
				</div>

				<div class="panel-footer">
					<button class="btn btn-primary pull-right" type="submit">
						<i class="fa fa-save"></i> {{translator.label.edituserbuttonsave}}
					</button>
					<a href="#!/users" class="btn btn-default"> <i
						class="fa fa-undo"></i> {{translator.label.edituserbuttoncancel}}
					</a>
				</div>

			</div>
		</form>
	</div>
</div>

