<div class="container">
	<div class="block-header">
		<h2>
			<span class="fa fa fa-magic"></span>
			{{translator.label.bomWizardHeader}}
		</h2>
	</div>

	<div class="row">
		<div class="card">
			<div id="profile-main" class="pm-body clearfix">
				<div class="pmb-block">
					<div class="pmbb-header">
						<h2>
							<i class="zmdi zmdi-assignment zmdi-hc-fw"></i>{{
							translator.label.bomWizardFormHeader }}
						</h2>
					</div>
					<div class="pmbb-body  p-l-30 m-t-20">
						<form name="addIC" role="form" class="form-horizontal"
							ng-submit="bomCtrl.createOrUpdateBom()">
							<div class="form-group">

								<dl class="dl-horizontal">
									<dt class="p-t-10">{{translator.label.bomWizardStep1}}</dt>
									<dd>
										<select class="form-control" name="component"
											ng-model="bomCtrl.bom.item"
											ng-options="item.name for item in bomCtrl.itemsForSelect"
											required>
											<option value="">--------</option>
										</select> <small ng-show="bomCtrl.bom.item === null">{{ translator.label.bomWizardStep1Desc }}</small>
									</dd>
								</dl>
								<dl class="dl-horizontal">
									<dt class="p-t-10">{{translator.label.bomWizardStep2}}</dt>
									<dd>
										<input class="form-control" name="quantity"
											ng-model="bomCtrl.bom.quantity" only-digits required/> <small>{{
											translator.label.bomWizardStep2Desc }}</small>
									</dd>
								</dl>

							<button class="btn btn-primary pull-right" type="submit">
									<i class="fa fa-save"></i> {{translator.label.bomWizardFinish}}
								</button>
								<a ui-sref="root.boms"
									class="btn btn-default"> <i class="fa fa-undo"></i>
									{{translator.label.componenteditformbuttoncancel}}
								</a>
						</form>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>