<div class="container">

	<div class="card">
		<div class="card-header">
			<h2>
				<strong> Dodawanie aktualizacji gry </strong>
			</h2>
			<pre ng-if="false">{{ itemGRCtrl.gr | json }}</pre>
		</div>
		<div class="card-body card-padding">
			<form role="form" name="grform"
				ng-submit="itemGRCtrl.createOrUpdateGR()">
				<div class="form-group">
					<div class="fg-line">
						<label path="name" class="control-label" for="name"> Nazwa
							aktualizacji </label> <input id="name" class="form-control"
							ng-model="itemGRCtrl.gr.name" type="text" required />
					</div>
				</div>
				<div class="form-group">
					<div class="fg-line">
						<label path="releaseDate" class="control-label" for="releaseDate"> Data
							aktualizacji </label> <input id="releaseDate" class="form-control"
							ng-model="itemGRCtrl.gr.releaseDate" type="date" required />
					</div>
				</div>
				<div class="form-group">
					<div class="fg-line">
						<label path="description" class="control-label" for="description">
							Opis </label> <input id="pass" class="form-control"
							ng-model="itemGRCtrl.gr.description" type="text" />
					</div>
				</div>

				<div class="pull-right m-t-20"
					ng-class="{'has-error':uform.$invalid}">
					<button class="btn btn-primary waves-effect" type="submit">

						<i class="fa fa-save"></i> {{translator.label.edituserbuttonsave}}
					</button>
				</div>
				<a ui-sref="root.itemGRs" class="btn btn-default m-t-20 waves-effect">
					<i class="fa fa-undo"></i>
					{{translator.label.edituserbuttoncancel}}
				</a>
			</form>
		</div>
	</div>
</div>