<div class="container">

	<div class="row">

		<div class="col-lg-6 col-md-12">

			<div class="listview lv-bordered lv-lg">
				<div class="lv-header-alt clearfix">
					<div class="pull-left">
						<h2 class="lvh-label hidden-xs">
							<strong> {{ translator.label.itemGREditHeading }} </strong>
						</h2>
					</div>

					<ul class="lv-actions actions" ng-show="!itemGRCtrl.isEditCtx()"
						ng-if="nav.authService.session.isSupervisor">
						<li><a ng-click="itemGRCtrl.setEditCtx()"> <i
								class="zmdi zmdi-edit zmdi-hc-fw"></i>
						</a></li>
					</ul>

					<pre ng-if="t">{{ itemGRCtrl.gr | json }}</pre>
				</div>
				<div class="card">
					<div class="card-body card-padding lv-item">

						<div ng-include src="'js/itemgr/gredit/greditform.html'"></div>

					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-12" ng-if="itemGRCtrl.gr.id != 0">

			<div class="card">
				<div class="listview lv-bordered lv-lg">
					<div class="lv-header-alt clearfix">
						<h2 class="lvh-label hidden-xs">
							<strong>{{ translator.label.itemGREditStepsHeading }}</strong>
						</h2>
						<pre ng-if="false">{{ itemGRCtrl.inserted | json }}</pre>
						<ul class="lv-actions actions" ng-show="!itemGRCtrl.isEditCtx()"
							ng-if="nav.authService.session.isSupervisor">
							<li><a ng-click="itemGRCtrl.setAddStepCtx()"> <i
									class="zmdi zmdi-plus zmdi-hc-fw"></i>
							</a></li>
						</ul>
					</div>
					<div class="lv-body">
						<div class="lv-item media" ng-if="itemGRCtrl.addStepCtx">
							<div class="media-body">

								<ul class="lv-actions actions"
									ng-if="nav.authService.session.isSupervisor">
									<li><a ng-click="itemGRCtrl.addLine(itemGRCtrl.inserted)">
											<i class="zmdi zmdi-plus zmdi-hc-fw"></i>
									</a></li>
								</ul>
								<div ng-include src="'js/itemgr/gredit/addstepform.html'"></div>

							</div>
						</div>
						<div class="lv-item media"
							ng-repeat="step in itemGRCtrl.gr.steps | orderBy : ['+seq']">
							<div ng-hide="step.editCtx">
								<div class="pull-left">
									<ul class="lv-attrs">
										<li>{{ step.seq }}</li>
									</ul>
								</div>
								<div class="media-body">

									<div class="lv-title">{{ step.description }}</div>
									<div class="lv-small"
										ng-repeat="line in step.linesArray | orderBy: 'id' track by line.id">{{
										line.text }}</div>
									<div ng-hide="!step.image || step.addImageCtx"
										class="fileinput-preview thumbnail">
										<img ng-src="{{ step.imageDecoded }}" />
									</div>

									<div class="lv-actions actions dropdown" uib-dropdown=""
										ng-show="!itemGRCtrl.isEditCtx()"
										ng-if="nav.authService.session.isSupervisor">
										<a class="dropdown-toggle" href="" uib-dropdown-toggle=""
											aria-expanded="false" aria-haspopup="true"><i
											class="zmdi zmdi-more-vert"></i></a>
										<ul class="dropdown-menu dropdown-menu-right">
											<li><a ng-click="itemGRCtrl.setEditStepCtx(step)"><i
													class="zmdi zmdi-edit zmdi-hc-fw m-r-10"></i>{{
													translator.label.EditDetailsPopoverText }}</a></li>
											<li ng-if="false" ><a ng-click="itemGRCtrl.setAddImageCtx(step)"><i
													class="zmdi zmdi-image-alt  zmdi-hc-fw m-r-10"></i>{{
													step.image ? translator.label.ChangeImageButtonText :
													translator.label.AddImagePopoverText }}</a></li>
											<li><a ng-click="itemGRCtrl.deleteStep( step )"><i
													class="zmdi zmdi-delete  zmdi-hc-fw m-r-10"></i>{{
													translator.label.DeleteRowPopoverText }}</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="media-body" ng-if="step.editCtx">
								<ul class="lv-actions actions"
									ng-if="nav.authService.session.isSupervisor">
									<li><a ng-click="itemGRCtrl.addLine(step)"> <i
											class="zmdi zmdi-plus zmdi-hc-fw"></i>
									</a></li>
								</ul>
								<div ng-include src="'js/itemgr/gredit/editstepform.html'"></div>
							</div>
							<div class="media-body" ng-if="step.addImageCtx">
								<div ng-include src="'js/itemgr/gredit/addimagetostep.html'"></div>
							</div>
							<pre ng-if="false">{{ step | json }}</pre>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>