body {
	font-family: latoregular !important;
	font-size: 16px;
}

#header .logo a {
    padding-left: 7px;
    padding-right: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.logo a {
	text-transform: none;
	font-size:22px;
	font-family: roboto;
}

.logo img{
	height: 28px;
	margin-left: 0px;
	margin-right: 10px;
}

.profile-menu > a {
    background: rgba(0, 0, 0, 0) url("../img/swiat-marzen-sidebar.jpg") no-repeat scroll left top / 100% auto !important;
}
.form-control, .btn, .dropdown-menu {
	font-size: inherit;
}

.small, small {
	font-size: 14px;
}

.tile {
	font-size: 22px;
}

.tile>.tmn-counts {
	position: absolute;
	font-family:roboto !important;
	font-weight: 500 !important;
	font-style:bold;
	padding: 5px 10px 5px 10px;
	border-radius: 2px;
	right: -5px;
	top: -18px;
	font-size: 16px;
	line-height: 15px;
}

.dl-horizontal dt {
	width: 260px !important;
}

.dl-horizontal dd {
	margin-left: 280px;
}

textarea.form-control {
	height: 80px !important;
}

.lc-block:not(.lcb-alt) {
    padding: 15px 55px 35px 25px;
}

.lc-block > h3 {
	margin-bottom: 20px;
    margin-top: 5px;
    font-size: 20px;
}

.login-navi {
    bottom: -45px;
    left: 0;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

.login-navi > li {
    backface-visibility: hidden;
    cursor: pointer;
    display: inline-block;
    line-height: 16px;
    margin: 0 2px;
    min-height: 16px;
    min-width: 16px;
    transition: all 150ms ease 0s;
    vertical-align: top;
}

#login-header {
	background-color: #2196f3;
    -moz-user-select: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    left: 0;
    padding: 0 11px;
    position: fixed;
    top: 0;
    width: 100%;
}

#login-header img{
	height: 28px;
	margin-left: 12px;
	margin-right: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.alert h4 {
  margin-top: 0;
  color: black;
}

.alert {
  font-size: 18px;
}

#news p {
	margin-bottom : 8px;
}

#news img {
	width: 100%;
}

