<div class="sidebar-inner" xx="c-overflow">
	<div class="profile-menu">
		<a href="" toggle-submenu>
			<div class="profile-pic">
				<img src="img/profile-pics/1.jpg" alt="">
			</div>

		</a>

	</div>

	<ul class="main-menu">

		<li data-ui-sref-active="active"><a data-ui-sref="root.dashboard"
			data-ng-click="mactrl.sidebarStat($event)"><i
				class="zmdi zmdi-home"></i>
				{{translator.label.leftpanelmenuMainPage}}</a></li>

		<li data-ui-sref-active="active"><a data-ui-sref="root.boms"
			data-ng-click="mactrl.sidebarStat($event)"><i
				class="zmdi zmdi-view-quilt"></i>
				{{translator.label.leftpanelmenumanageBoms}}</a></li>

		<li data-ui-sref-active="active"><a data-ui-sref="root.items"
			data-ng-click="mactrl.sidebarStat($event)"><i
				class="zmdi zmdi-view-list-alt "></i>
				{{ authenticated ? translator.label.leftpanelmenumanageitems : translator.label.leftpanelmenubrowseitems}}</a></li>

		<li data-ui-sref-active="active" ng-if="nav.authService.session.isAdmin"><a data-ui-sref="root.itemGRs"
			data-ng-click="mactrl.sidebarStat($event)"><i
				class="zmdi zmdi-calendar "></i>
				{{ translator.label.leftpanelmenubrowseitemGRs }}</a></li>

	
		<li data-ui-sref-active="active" ng-if="nav.authService.session.isAdmin"><a data-ui-sref="root.users"
			data-ng-click="mactrl.sidebarStat($event)"><i
				class="zmdi zmdi-accounts-alt"></i>
				{{translator.label.leftpanelmenumanageUsers}}</a></li>

		<li data-ui-sref-active="active" ng-if="nav.authService.session.isAdmin"><a data-ui-sref="root.news"
			data-ng-click="mactrl.sidebarStat($event)"><i
				class="zmdi zmdi-border-color"></i>
				{{translator.label.leftpanelmenumanageNews}}</a></li>

		<li data-ui-sref-active="active" ng-if="false && nav.authService.session.isAdmin"><a 
			data-ng-click="mactrl.sidebarStat($event)"><i
				class="zmdi zmdi-home"></i> debug</a></li>

	</ul>
</div>
